{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}

<div style="width:100%;"> 
  <svg width="100%" viewBox="0 0 1440 527" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(0,-230)">
  <defs>
    <linearGradient id="bicolored">
            <stop offset="57%" stop-color="white"/>
            <stop offset="10%" stop-color="#ffae42"/>
        </linearGradient>
  </defs>
  <path d="M774.496 497.267C336.519 583.714 75.6749 461.248 0 389.209V0H1440V427.73C1400.66 414.89 1212.47 410.821 774.496 497.267Z" fill="#3563DB"/>
  <text style="font-weight:bold;" x="15%" y="60%" fill="white" font-size ="40">Why we built Agric-Aid</text>  <br>
  <br>
  <p style="margin-top: -230px; margin-left:320px;margin-right:320px;">
    This multi-modal application is built to help farmers and agricultural experts in predicting diseases in corn and maize plants 
    as well as provide real-time advice and recommendations based on corn/maize's disease classification.
  </p>
  
  <g>    
  </svg>
</div>
{% endblock content %}
